$primaryColor: #554d89;
$secondaryColor: #6852ed;
$tertiaryColor: #ba43fc;
$whiteColor: #fff;
$darkGray: #656270;
$ligthGray: #f6f7fa;
$gradientColor: linear-gradient(
  197deg,
  rgba(186, 67, 252, 1) 0%,
  rgba(104, 82, 237, 1) 100%
);

/* Menu burger is a external code, take care*/

@mixin menuBurger {
  label .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    cursor: pointer;
  }

  label .hamburger {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: $primaryColor;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  label .hamburger:after,
  label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: $primaryColor;
  }

  label .hamburger:before {
    top: -10px;
  }

  label .hamburger:after {
    bottom: -10px;
  }

  label input {
    display: none;
  }

  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
    border-radius: 0;
  }

  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  label input:checked + .menu + ul {
    opacity: 1;
  }

  label ul {
    list-style: none;
    margin-top: 50px;
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
  }

  label a {
    margin-bottom: 1em;
    display: block;
    color: $primaryColor;
    font-weight: 600;
    text-decoration: none;
  }

  h1 {
    position: absolute;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }
}

@mixin buttonBackground {
  border: none;
  background-image: linear-gradient(
    197deg,
    rgba(186, 67, 252, 1) 0%,
    rgba(104, 82, 237, 1) 100%
  );
  color: white;
  padding: 20px 50px;
  border-radius: 30px;
  transition: 0.5s;
}

@mixin buttonTransparent {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: $secondaryColor;
  padding: 10px 10px;
  border-radius: 30px;
  i {
    font-size: 16px;
  }
}

@mixin video {
  width: 100%;
  min-height: 450px;
  max-height: 550px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 20%;
  h2 {
    color: $primaryColor;
  }
  p {
    color: $darkGray;
    font-size: 14px;
    margin-bottom: 50px;
  }
}

@mixin card {
  width: 30%;
  text-align: center;
  padding: 30px 30px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: -180px 10px 0 10px;
  background-color: $whiteColor;
  h2 {
    color: $tertiaryColor;
  }
  hr {
    width: 20%;
    border-top: $tertiaryColor 1px solid;
  }
  h3 {
    color: $primaryColor;
  }
  @include textP;
}

@mixin textP {
  p {
    color: $darkGray;
    font-size: 14px;
  }
}

@mixin contactInfo {
  padding: 10px;
  i {
    margin-right: 10px;
  }
  p {
    color: $primaryColor;
    font-size: 14px;
  }
}

@mixin inputForm {
  width: 45%;
  border: $darkGray 1px solid;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 5px 10px 5px;
}
@mixin imgProp {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}
